.ge-seguimiento-operador-create{
    display: grid;
    margin: 0px 15%;
    padding: 0 2%;
    color: black;
    border: 2px solid #46a3dc;
    box-shadow: 0 0 15px 3px rgb(70, 163, 220);
}
.id_objetivo{
    display: grid;
    grid-template-areas: "a b c";
}
.id_objetivo .form-group {
    padding: 3%;
}
.objetivo{
    border: 1px solid #46a3dc;
    padding: 1%;
    border-radius: 1%;
    margin: 3% 0;
}
#id_operador,#geseguimientooperador-id_indicador{
    display: grid;
    grid-template-areas: "a b";
    align-items: baseline;
}
label[for="file-upload"] {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    background-color: #106BA0;
    display: inline-block;
    transition: all .5s;
    cursor: pointer;
    padding: 15px 40px !important;
    text-transform: uppercase;
    width: fit-content;
    text-align: center;
}
input#file-upload {
    display: none;
}
.evidencia_actividades{
    display: block;
    padding: 0 2%;
}